*::-webkit-scrollbar {
  width: 11px;
}

*::-webkit-scrollbar-track {
  background: white;
}

*::-webkit-scrollbar-thumb {
  background-color: #333366;
  border-radius: 6px;
  border: 3px solid white;
}

#root {
  min-height: 100vh;
  overflow: auto;
  min-width: 1200px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.multiSelectMenu {
  animation: fadeIn 0.15s ease-in-out;
}
