html {
  font-family: Poppins, sans-serif;
  font-size: 62.5%;
  box-sizing: border-box;
  border-collapse: collapse;
  height: 100%;
}

#root {
  height: 100vh;
  min-width: 1200px;
  display: flex;
  flex-direction: column;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(2rem);
  }
}

@keyframes fadeOutNoTranslate {
  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  33% {
    transform: translateY(-0.2rem);
  }

  66% {
    transform: translateY(0.2rem);
  }

  100% {
    transform: translateY(0);
  }
}

.menu {
  animation: fadeIn 0.15s ease-in-out;
}

.menu--close {
  animation: fadeOut 0.15s ease-in-out;
}

@keyframes slide-left {
  0% {
    transform: translateX(2rem);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(-2rem);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slide-right-small {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-0.5rem);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(2rem);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(-2rem);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes flash-red {
  0% {
    background-color: currentColor;
    opacity: 0.5;
  }

  50% {
    background-color: rgba(223, 125, 125, 0.9);
    opacity: 1;
  }

  100% {
    background-color: currentColor;
    opacity: 0.5;
  }
}
